@model IEnumerable<PRCS1.Models.PatientInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cause)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crossMatch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdverseReaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cause)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.crossMatch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdverseReaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
